<!DOCTYPE html>
<html lang="en" ng-app="boardLite">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title ng-controller="TitleController" ng-bind="appName">...</title>

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="assets/css/boardlite.css">
	</head>
	<body>
		<nav class="bl-nav navbar navbar-dark navbar-toggleable-md py-0 navbar-expand-sm bg-dark">
			<a class="navbar-text" href="#/" ng-bind="appName"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" ng-controller="BoardListController">
					<li class="nav-item" ng-repeat="board in boards">
						<a class="nav-link" href="#/board/{{board.prefix}}">/{{board.prefix}}/</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-aut" ng-controller="AuthenticationController">
					<li class="nav-item" ng-hide="!admin">
						<a class="nav-link" href="#/adminpanel" ng-bind="lang.Adminpanel"></a>
					</li>
					<li class="nav-item" ng-hide="loggedIn">
						<a class="nav-link" href="#/login" ng-bind="lang.Login"></a>
					</li>
					<li class="nav-item" ng-hide="loggedIn">
						<a class="nav-link" href="#/register" ng-bind="lang.Register"></a>
					</li>
					<li class="nav-item" ng-hide="!loggedIn">
						<a class="nav-link" href="javascript:void(0)" ng-click="logout()" ng-bind="lang.Logout"></a>
					</li>
				</ul>
			</div>
		</nav>

		<div ng-view></div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

		<script src="assets/libs/angular.min.js"></script>
		<script src="assets/libs/angular-route.min.js"></script>
		<script src="assets/libs/angular-cookies.min.js"></script>

		<script src="app/application.js"></script>
		<script src="app/route.js"></script>
		
		<script src="app/controllers/TitleController.js"></script>
		<script src="app/controllers/BoardController.js"></script>
		<script src="app/controllers/BoardListController.js"></script>
		<script src="app/controllers/ThreadController.js"></script>
		<script src="app/controllers/RuleController.js"></script>
		<script src="app/controllers/AuthenticationController.js"></script>
		<script src="app/controllers/AdminController.js"></script>
		<script src="app/controllers/BoardEditController.js"></script>
	</body>
</html>
