<div class="container-fluid" ng-controller="BoardController">
	<h1 class="text-center" ng-bind="boardData.name"></h1>
	<h4 class="text-center" ng-bind="boardData.description"></h4><hr/>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="panel panel-default">
				<div class="panel-heading" ng-bind="lang.Create_thread"></div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="fil" ng-bind="lang.File"></label>
							<input type="file" id="fil" file-model="myFile"/>
						</div>
						<div class="form-group">
							<label for="title" ng-bind="lang.Title"></label>
							<input type="text" id="title" name="title" ng-model="title" class="form-control" placeholder="{{lang.Title_for_thread}}">
						</div>
						<div class="form-group" ng-class="messageEmpty === true ? 'has-error' : ''">
							<label for="message" ng-bind="lang.Message"></label>
							<textarea name="message" id="message" ng-model="message" class="form-control" placeholder="{{lang.Message_for_thread}}"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" ng-click="createThread()" class="btn btn-primary" ng-bind="lang.Send"></button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="row" ng-show="threads.length > 0">
		<div class="col-md-10 col-md-offset-1" ng-repeat="thread in threads">

			<div class="panel panel-default">
				<div class="panel-heading">
					<a href="#/thread/{{thread.msg_id}}/" ng-bind-html="thread.title"></a>
					<p class="pull-right" ng-show="isAdmin">
						<button class="btn btn-danger btn-xs">{{lang.IP}}: {{thread.ip}}</button>
						<button class="btn btn-danger btn-xs" admin-delete-thread="{{thread.msg_id}}">{{lang.Delete_thread}}</button>
					</p>
					<h6><text style="color:red">{{thread.locked === '1' ? '[LOCKED]' : ''}}</text> &middot; {{lang.Id}}: {{thread.msg_id}} &middot; {{lang.Posted}}: {{ thread.posted }} &middot; {{lang.Anonymous}}</h6>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3" ng-show="thread.img_url != ''">
							<div class="embed-responsive embed-responsive-16by9" ng-if="thread.fileType.type == 'video'">
								<video controls>
									<source ng-src="{{thread.img_url}}" type="video/{{thread.fileType.extension}}">
								</video>
							</div>
							<div class="img-responsive embed-responsive embed-responsive-16by9" ng-if="thread.fileType.type == 'image'">
								<img ng-src="{{((thread.img_url !== 'undefined') ? thread.img_url : 'assets/img/empty.png')}}" class="img-responsive">
							</div>
						</div>
						<div class="col-md-9">
							<p ng-bind-html="thread.content | nl2br | bbcode"></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row" ng-hide="threads.length > 0">
		<div class="col-md-10 col-md-offset-1">

			<div class="panel panel-default">
				<div class="panel-heading">
					<p ng-bind="lang.No_threads_on_board"></p>
				</div>
				<div class="panel-body">
					<p ng-bind="lang.No_threads_create_maybe"></p>
				</div>
			</div>

		</div>
	</div>
</div>