<div class="container" ng-controller="BoardListController">
	<div class="row">
		<div class="col-12 text-center">
			<h2 ng-bind="lang.Boards"></h2>
			<h4 ng-bind="lang.Boards_desc"></h4>
			<hr/>
		</div>
		<div class="col-12">
			<div class="list-group">
				<a ng-repeat="board in boards" href="#/board/{{board.prefix}}"
					class="list-group-item list-group-item-action">

					<span class="badge" ng-class="board.tag === 'NSFW' ? 'badge-danger' : 'badge-success'">{{board.tag}}</span>
					{{board.name}}
				</a>
			</div>
		</div>
	</div>
</div>
