<div class="container" ng-controller="AuthenticationController">
	<div class="row">
	
		<div class="col-12" ng-hide="success === undefined">
			<div class="alert alert-danger fade show" role="alert">{{lang.Login_error}}</div>
		</div>
		
		<div class="col-12">
			<div class="card">
				<div class="card-header">{{lang.Login}}</div>

				<div class="card-body">
					<form ng-submit="loginUser(data)">
						<div class="form-group">
							<label for="name">{{lang.Username}}</label>
							<input type="text" id="name" name="name" ng-model="data.name" class="form-control" placeholder="{{lang.Username}}" required>
						</div>

						<div class="form-group">
							<label for="pass">{{lang.Password}}</label>
							<input type="password" id="pass" name="pass" ng-model="data.pass" class="form-control" placeholder="{{lang.Password}}" required>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-primary">{{lang.Login}}</button>
						</div>
					</form>
				</div>

			</div>
		</div>

	</div>
</div>
