<div class="container" ng-controller="RegisterController">
	<div class="row">
	
		<div class="col-md-12" ng-show="success">
			<div class="alert alert-dismissible alert-success">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p ng-bind="lang.Register_success"></p>
			</div>
		</div>
		
		<div class="col-md-12" ng-show="success != true && success != null">
			<div class="alert alert-dismissible alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<p ng-bind="lang.Register_error"></p>
			</div>
		</div>
		
		<div class="col-md-12">

			<div class="panel panel-default">
				<div class="panel-heading" ng-bind="lang.Register"></div>
				<div class="panel-body">
					<form>
						<div class="form-group" ng-class="nameEmpty === true ? 'has-error' : ''">
							<label for="name" ng-bind="lang.Username"></label>
							<input type="text" id="name" name="name" ng-model="name" class="form-control" placeholder="{{lang.Username}}">
						</div>
						<div class="form-group" ng-class="passEmpty === true ? 'has-error' : ''">
							<label for="pass" ng-bind="lang.Password"></label>
							<input type="password" id="pass" name="pass" ng-model="pass" class="form-control" placeholder="{{lang.Password}}">
						</div>
						<div class="form-group">
							<button type="submit" ng-click="createUser()" class="btn btn-primary" ng-bind="lang.Register"></button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>