<div class="container" ng-controller="RuleController">
	<div class="row">
		<div class="col-md-12 text-center">
			<h2>Rules</h2>
			<h4>Rules for using this website.</h4>
			<h6>By using this website (the "site"), you agree that you'll follow these rules, and understand them.</h6>
			<hr/>
		</div>
		<div class="col-md-12">
			<div class="list-group">
				<li class="list-group-item" ng-repeat="rule in rules track by $index">{{$index}}. {{rule}}</li>
			</div>
		</div>
	</div>
</div>