<div class="container-fluid" ng-controller="ThreadController">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="panel panel-default" ng-hide="startPost.locked === '1'">
				<div class="panel-heading" ng-bind="lang.Add_reply"></div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<label for="fil" ng-bind="lang.File"></label>
							<input type="file" id="fil" file-model="myFile" class="form-control-static">
						</div>
						<div class="form-group" ng-class="messageEmpty === true ? 'has-error' : ''">
							<label for="message" ng-bind="lang.Message"></label>
							<textarea name="message" id="message" ng-model="message" class="form-control" placeholder="{{lang.Message_for_reply}}"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" ng-click="postReply()" class="btn btn-primary" ng-bind="lang.Send"></button>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">

			<div class="panel panel-default">
				<div class="panel-heading" id="msg_{{startPost.msg_id}}">
					<a href="javascript:void(0)" ng-bind-html="startPost.title"></a>
					<p class="pull-right" ng-show="isAdmin">
						<button class="btn btn-danger btn-xs">{{lang.IP}}: {{startPost.ip}}</button>
						<button class="btn btn-danger btn-xs" ng-click="setThreadLockState()" ng-bind="startPost.locked === '1' ? 'Unlock thread' : 'Lock thread'"></button>
						<button class="btn btn-danger btn-xs" admin-delete-thread="{{startPost.msg_id}}" ng-bind="lang.Delete_thread"></button>
					</p>
					<h6><text style="color:red">{{startPost.locked === '1' ? '[LOCKED] &middot; ' : ''}}</text>{{lang.Id}}: <a ng-click="answer(startPost.msg_id)" style="cursor:pointer">{{ startPost.msg_id }}</a> &middot; {{lang.Posted}}: {{ startPost.posted }} &middot; {{lang.Anonymous}}</h6>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5" ng-hide="startPost.fileType == 'no_file'" ng-class="startPost.zoom !== true ? 'col-md-2' : ''" ng-click="startPostZoom()">
							<div class="embed-responsive embed-responsive-16by9" ng-if="startPost.fileType == 'video'">
								<video controls>
									<source ng-src="{{startPost.img_url}}" type="video/mp4">
								</video>
							</div>
							<div class="img-responsive" ng-if="startPost.fileType == 'image'">
								<img ng-src="{{startPost.img_url !== 'undefined' ? startPost.img_url : 'assets/img/empty.png'}}" class="img-responsive">
							</div>
						</div>
						<div ng-class="startPost.fileType.type === 'no_file' ? 'col-md-12' : 'col-md-9'">
							<p class="message" ng-bind-html="startPost.content | nl2br | bbcode"></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="row" ng-show="replies.length > 0">
		<div class="col-md-10 col-md-offset-1" ng-repeat="reply in replies">

			<div class="panel panel-default" id="msg_{{reply.msg_id}}">
				<div class="panel-heading">
					<p class="pull-right" ng-show="isAdmin">
						<button class="btn btn-danger btn-xs">{{lang.IP}}: {{reply.ip}}</button>
						<button class="btn btn-danger btn-xs" disabled ng-bind="lang.Delete_reply"></button>
					</p>
					<h6>{{lang.Id}}: <a ng-click="answer(reply.msg_id)" style="cursor:pointer">{{ reply.msg_id }}</a> &middot; {{lang.Posted}}: {{ reply.posted }} &middot; {{lang.Anonymous}}</h6>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5" ng-hide="reply.fileType == 'no_file'" ng-class="reply.zoom !== true ? 'col-md-2' : ''" ng-click="replyZoom(reply)">
							<div class="embed-responsive embed-responsive-16by9" ng-if="reply.fileType == 'video'">
								<video controls>
									<source ng-src="{{reply.img_url}}" type="video/mp4">
								</video>
							</div>
							<div class="img-responsive" ng-if="reply.fileType == 'image'">
								<img ng-src="{{reply.img_url !== 'undefined' ? reply.img_url : 'assets/img/empty.png'}}" class="img-responsive">
							</div>
						</div>
						<div ng-class="reply.fileType.type === 'no_file' ? 'col-md-12' : 'col-md-9'">
							<p class="message" ng-bind-html="reply.content | nl2br | bbcode"></p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>