.hover-text {
	color: black;
	background-color: black;
}

.hover-text:hover {
	background-color: black !important;
	color: #FDFDFD !important;
}

.big {
	width: 30%;
	height: 30%;
}

.message {
	width: 80%;
	word-wrap: break-word;
}