html, body {
	height: 100;
}

.hover-text {
	color: black !important;
	background-color: black !important;
}

.hover-text:hover {
	color: #222222 !important;
	background-color: white !important;
}