html, body {
	background-color: #22282e;
	color: #FDFDFD;
}

.panel-body {
	background-color: #57616b;
	color: #FDFDFD;
}

.panel {
	border-color: black;
	color: #FDFDFD;
}

.panel-heading {
	background-color: #262627 !important;
	border-color: #262627 !important;
	color: #FDFDFD !important;
}

input[type="text"] {
	background-color: #262627 !important;
	border-color: black !important;
}

input[type="password"] {
	background-color: #262627 !important;
	border-color: black !important;
}

select {
	background-color: #262627 !important;
	border-color: black !important;
}

textarea {
	background-color: #262627 !important;
	border-color: black !important;
}

.list-group-item {
	border-color: black;
	background-color: #57616b;
	color: #FDFDFD !important;
}

.list-group-item:hover {
	background-color: #262627 !important;
	color: #FDFDFD !important;
}

pre {
	color: #FDFDFD !important;
	background-color: #57616b !important;
	border-color: #57616b !important;
}

tr:hover {
	background-color: #57616b !important;
}
